<div id="sauces-container">
    <h2 class="menu-title"><a href="menu/sauces" class="menu-link">Sauces</a></h2>
    {{#each sauces as |sauce|}}
    <div class="sauce-container">
        <h2 class="sauce-title">{{sauce.title}}</h2>
    </div>
    {{/each}}
</div>