<div class="container-fluid" id="about-container">
    <div id="history-container" class="about-sub-container">
        <h2 class="about-title">Our History</h2>
        <p class="about-text">Founded in 2020, Fat Birds Wing Bar strives to bring a fresh take on wings to Midland TX.
            Our food is made to order so
            the wings are hot and juicy and never sit around in a warmer. We also make all our sauces and dips fresh in
            house using
            real ingredients and cooking techniques. We aim for great tasting food along with our friendly staff and a
            fun
            environment for everyone to enjoy. We are family owned and family friendly. We hope to see you, and we
            appreciate all
            the love and support we’ve received over the years. Thank you and come see us soon!</p>
    </div>
    <div id="goal-container" class="about-sub-container">
        <h2 class="about-title">Our Goals</h2>
        <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque debitis ipsam et, deleniti
            ratione
            exercitationem ad quia consequatur, perferendis odio explicabo itaque nam eum id iste voluptate ex
            consectetur earum.
            Autem cupiditate tempore iste ipsum repellendus rem magni quae impedit odit dolor aperiam, omnis nihil
            quasi, esse inventore expedita quibusdam nulla. Omnis, eos accusantium explicabo facere officia consectetur.
            Inventore, perspiciatis!
            Pariatur cum molestiae mollitia doloribus minima corporis! Ipsa nisi adipisci laudantium doloremque vero
            sunt totam temporibus, unde aperiam. Vero voluptatem exercitationem consequuntur velit, deserunt eligendi
            facere accusantium nobis. Ullam, voluptatibus.</p>
    </div>
    <div id="what-we-do-container" class="about-sub-container">
        <h2 class="about-title">What We Do</h2>
        <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque debitis ipsam et, deleniti
            ratione
            exercitationem ad quia consequatur, perferendis odio explicabo itaque nam eum id iste voluptate ex
            consectetur earum.
            Autem cupiditate tempore iste ipsum repellendus rem magni quae impedit odit dolor aperiam, omnis nihil
            quasi, esse inventore expedita quibusdam nulla. Omnis, eos accusantium explicabo facere officia consectetur.
            Inventore, perspiciatis!
            Pariatur cum molestiae mollitia doloribus minima corporis! Ipsa nisi adipisci laudantium doloremque vero
            sunt totam temporibus, unde aperiam. Vero voluptatem exercitationem consequuntur velit, deserunt eligendi
            facere accusantium nobis. Ullam, voluptatibus.</p>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script>
    anime({
        targets: ['#history-container', '#what-we-do-container', '#goal-container'],
        translateY: 300,
    })
</script>