<link rel="stylesheet" href="/css/contact.css">
<div class="container-fluid" id="contact-container">
    <div class="container info-container" id="address-container">
        <h3 class="info-title" id="address-title">Location</h3>
        <p id="address-text" class="info-text">
            <a class="contact-link"
                href="https://www.google.com/maps?ll=32.032001,-102.125877&z=16&t=m&hl=en&gl=US&mapclient=embed&cid=9583460874408612889">3209
                Courtyard Drive Ste L, Midland, TX, United States, Texas </a><br>
            <br>
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3382.3764136158006!2d-102.1258773!3d32.0320014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86fbd9284c876925%3A0x84ff4ae3d1fad419!2sFat%20Birds%20Wing%20Bar!5e0!3m2!1sen!2sus!4v1661119650772!5m2!1sen!2sus"
            width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" id="location-map">
        </iframe>
    </div>
    <div class="container info-container" id="contact-info-container">
        <h3 class="info-title" id="contact-info-title">Contact</h3>
        <p id="contact-phone" class="info-text">
            📞: <a class="contact-link" href="tel:(432) 218-7390">(432)-218-7390 <br></a>
            <br>
            📧: <a class="contact-link" href="mailto:FatBirdMidland@gmail.com">FatBirdMidland@gmail.com <br></a>
            <br>
            <i class="fa-brands fa-yelp"></i> : <a class="contact-link"
                href="https://www.yelp.com/biz/fat-birds-wing-bar-midland"> Yelp Page
                <br></a>
            <br>
            <i class="fa-brands fa-square-facebook"></i> : <a class="contact-link"
                href="https://www.facebook.com/people/Fat-Birds-Wing-Bar/100064282713069/">Facebook
                Page
                <br></a>
            <br>
            <i class="fa-brands fa-instagram"></i> : <a class="contact-link"
                href="https://www.instagram.com/fatbirdswingbar/?hl=en">Instagram
                <br></a>

        </p>
    </div>
    <div class="container info-container" id="business-hours-container">
        <h3 class="info-title" id="business-hours-title">Business Hours</h3>
        <p id="business-hours-text" class="info-text">
            Mon: Closed <br>
            <br>
            Tue: 11:00 AM - 9:00 PM <br>
            <br>
            Wed: 11:00 AM - 9:00 PM <br>
            <br>
            Thu: 11:00 AM - 9:00 PM <br>
            <br>
            Fri: 11:00 AM - 10:00 PM <br>
            <br>
            Sat: 11:00 AM - 10:00 PM <br>
            <br>
            Sun: 11:00 AM - 9:00 PM <br>
        </p>
        <br>
        <br>
    </div>
</div>
{{> socials}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="https://kit.fontawesome.com/22e6b9b0f7.js" crossorigin="anonymous"></script>
<script>
    anime({
        targets: '.info-container',
        translateY: 300,
    })
</script>