<link rel="stylesheet" href="/css/create-category.css">
<div class="create-category-container mx-auto">
    <form class=".add-side-category-form">
        <div class="form-group">
            <label for="categoryName" id="add-side-label">What is the Name of the Sides Category you wish to
                add?</label>
            <input type="text" class="form-control" id="categoryName">
        </div>
        <button class="btn btn-danger" type="submit">Add New Side Category</button>
    </form>

</div>

<script src="/js/add-side-category.js"></script>