<link rel="stylesheet" href="/css/homepage.css">
<h1 class="display-1" id="hero-title">
    <span id="fb-span">FAT BIRDS</span>
    <br>
    <span id="wb-span">―WING BAR―</span>

</h1>
<div class="jumbotron" id="hero-container-desktop">
    {{!-- Hero Header --}}
    <div class="hero-image-container" id="first-hero-image">
    </div>

    {{!-- Social Media --}}
    {{> socials }}

    <div class="hero-image-container" id="second-hero-image">
    </div>
</div>