<h1 class="display-1" id="hero-title">
    <span id="fb-span"> Fat Birds</span>
    <br>
    <span id="wb-span">―Wing Bar―</span>

</h1>
<div class="jumbotron" id="hero-container-desktop">
    {{!-- Hero Header --}}
    <div id="hero-image-container">
    </div>

    {{!-- Social Media --}}
    {{> socials }}

    <div id="second-hero-image">
    </div>
</div>