<div class="jumbotron">
    <h1 class="display-1">Fat Birds Wing Bar</h1>
    <img class="img-fluid mx-auto" id="hero-img"
        src="https://images.unsplash.com/photo-1627662168781-4345690f0bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
    </img>
</div>