<div class="jumbotron" id="hero-container-desktop">
    <h1 class="display-1" id="hero-title">Fat Birds Wing Bar</h1>
    <img class="img-fluid mx-auto" id="hero-img"
        src="https://s3-media0.fl.yelpcdn.com/bphoto/PClfDiHUgmuiJktJKekwqQ/o.jpg">
    </img>
    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/ThG14a-uWSXmdSjy2z3YuA/o.jpg" alt="" class="hidden"
        id="mobile-hero-img">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script>
    anime({
        targets: '#hero-title',
        translateY: 300
    })
</script>