<h1 class="display-1" id="hero-title">
    <span id="fb-span"> Fat Birds</span>
    <br>
    <span id="wb-span">―Wing Bar―</span>

</h1>
<div class="jumbotron" id="hero-container-desktop">
    {{!-- Hero Header --}}
    <div id="hero-image-container">
    </div>
    {{!-- Social Media --}}
    <div class="container-fluid" id="home-socials">
        <h5 id="socials-title">Follow Us!</h5>
        <ul id="home-social-media-list">
            <li class="social-li">
                <a class="social-link" href="https://www.yelp.com/biz/fat-birds-wing-bar-midland">
                    <i class="fa-brands fa-yelp"></i>
                </a>
            </li>
            <li class="social-li">
                <a class="social-link" href="https://www.facebook.com/people/Fat-Birds-Wing-Bar/100064282713069/">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
            </li>
            <li class="social-li"><a class="social-link" href="https://www.instagram.com/fatbirdswingbar/?hl=en">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    {{!-- Yelp Reviews --}}
    <div class="container-fluid" id="home-reviews-container">
        <div class="review-container">
            <span class="yelp-review" data-review-id="MuuWzuIAllQPegminKahZQ" data-hostname="www.yelp.com">Read <a
                    href="https://www.yelp.com/user_details?userid=QlU-Ok6n2e8NTRYWEO-sJw" rel="nofollow noopener">Royce
                    C.</a>'s <a href="https://www.yelp.com/biz/fat-birds-wing-bar-midland?hrid=MuuWzuIAllQPegminKahZQ"
                    rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/v5p5kNHM9wH77zargd4HvA"
                    rel="nofollow noopener">Fat Birds Wing Bar</a> on <a href="https://www.yelp.com"
                    rel="nofollow noopener">Yelp</a>
                <script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script>
            </span>
        </div>
        <div class="review-container">
            <span class="yelp-review" data-review-id="WPL1b-k7-MqN4YVyV1qEJw" data-hostname="www.yelp.com">Read <a
                    href="https://www.yelp.com/user_details?userid=WGhYjG2Hff7ErFNn6ztWyg" rel="nofollow noopener">Joe
                    C.</a>'s <a href="https://www.yelp.com/biz/fat-birds-wing-bar-midland?hrid=WPL1b-k7-MqN4YVyV1qEJw"
                    rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/v5p5kNHM9wH77zargd4HvA"
                    rel="nofollow noopener">Fat Birds Wing Bar</a> on <a href="https://www.yelp.com"
                    rel="nofollow noopener">Yelp</a>
                <script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script>
            </span>
        </div>
        <div class="review-container">
            <span class="yelp-review" data-review-id="x8l-sCDxVhHnduTRiGJdfQ" data-hostname="www.yelp.com">Read <a
                    href="https://www.yelp.com/user_details?userid=ZFgXgPlIAMMznlc-ckDcPw"
                    rel="nofollow noopener">Candice K.</a>'s <a
                    href="https://www.yelp.com/biz/fat-birds-wing-bar-midland?hrid=x8l-sCDxVhHnduTRiGJdfQ"
                    rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/v5p5kNHM9wH77zargd4HvA"
                    rel="nofollow noopener">Fat Birds Wing Bar</a> on <a href="https://www.yelp.com"
                    rel="nofollow noopener">Yelp</a>
                <script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script>
            </span>
        </div>
        <div class="review-container">
            <span class="yelp-review" data-review-id="Lg68eVhRCJ0B4K5dFFsAuA" data-hostname="www.yelp.com">Read <a
                    href="https://www.yelp.com/user_details?userid=fcoIIYbvPc_6ZgFGGIQx0g" rel="nofollow noopener">Dawn
                    S.</a>'s <a href="https://www.yelp.com/biz/fat-birds-wing-bar-midland?hrid=Lg68eVhRCJ0B4K5dFFsAuA"
                    rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/v5p5kNHM9wH77zargd4HvA"
                    rel="nofollow noopener">Fat Birds Wing Bar</a> on <a href="https://www.yelp.com"
                    rel="nofollow noopener">Yelp</a>
                <script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script>
            </span>
        </div>
        <div class="review-container">
            <span class="yelp-review" data-review-id="JOy4MLc59RWw17x_DCp9rA" data-hostname="www.yelp.com">Read <a
                    href="https://www.yelp.com/user_details?userid=jUFmusU6TmfwywCpm9Z8mQ"
                    rel="nofollow noopener">Andrew C.</a>'s <a
                    href="https://www.yelp.com/biz/fat-birds-wing-bar-midland?hrid=JOy4MLc59RWw17x_DCp9rA"
                    rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/v5p5kNHM9wH77zargd4HvA"
                    rel="nofollow noopener">Fat Birds Wing Bar</a> on <a href="https://www.yelp.com"
                    rel="nofollow noopener">Yelp</a>
                <script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script>
            </span>
        </div>
        <div class="review-container">
            <span class="yelp-review" data-review-id="3rlSTVZVCLh9oc27iEBMcw" data-hostname="www.yelp.com">Read <a
                    href="https://www.yelp.com/user_details?userid=g1DYPDBw3rettYuNXwqlhw" rel="nofollow noopener">Jeff
                    G.</a>'s <a href="https://www.yelp.com/biz/fat-birds-wing-bar-midland?hrid=3rlSTVZVCLh9oc27iEBMcw"
                    rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/v5p5kNHM9wH77zargd4HvA"
                    rel="nofollow noopener">Fat Birds Wing Bar</a> on <a href="https://www.yelp.com"
                    rel="nofollow noopener">Yelp</a>
                <script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script>
            </span>
        </div>
    </div>
</div>