<h1 class="display-1" id="register-header">logout</h1>
<div class="mx-auto" style="width: 250px;">
    <form action="/admin/logout" method="POST">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>
