<div class="container-fluid" id="main-menu-container">
    <div id="sizes-container">
        <h1 class="menu-title">Sizes</h1>
        <div id="wing-info-container">
            {{!-- Container for 6 wings --}}
            <div class="wing-size-container">
                <h2 class="wing-type">6 Wings</h2>
                <p class="wing-info-description">
                    Choice Between:
                <ul class="wing-info-ul">
                    <li>- 1 Sauce</li>
                    <li>- 1 Dip</li>
                </ul>
                </p>
            </div>
            {{!-- Container for 8 wings --}}
            <div class="wing-size-container">
                <h2 class="wing-type">8 Wings</h2>
                <p class="wing-info-description">
                    Choice Between:
                <ul class="wing-info-ul">
                    <li>- 2 Sauces</li>
                    <li>- 1 Dip</li>
                </ul>
                </p>
            </div>
            {{!-- Container for 12 wings --}}
            <div class="wing-size-container">
                <h2 class="wing-type">12 Wings</h2>
                <p class="wing-info-description">
                    Choice Between:
                <ul class="wing-info-ul">
                    <li>- 3 Sauces</li>
                    <li>- 2 Dips</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
    <div id="sauces-container">
        <h2 class="menu-title"><a href="menu/sauces" class="menu-link">Sauces</a></h2>
    </div>
    <div id="sauces-container">
        <h2 class="menu-title"><a href="menu/sides" class="menu-link">Sides</a></h2>
    </div>

</div>

{{!-- anime.js script --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script>
    anime({
        targets: '.wing-size-container',
        translateY: 90
    });
</script>