<h2 class="menu-title">Sauces</h2>
<div id="sauces-container">
    {{#each sauces as |sauce|}}
    <div class="sauce-container">
        <h2 class="sauce-name">{{sauce.title}}</h2>
        <p class="sauce-description">{{sauce.description}}</p>
        {{#if sauce.spicy_level}}
        <p class="sauce-spice-level">🌶️Spice Level: <span class="spice-level-span">{{sauce.spicy_level}}</span></p>
        {{/if}}
    </div>
    {{/each}}
    <a href="/menu" class="backLink">Back to Menu</a>
</div>

{{!-- Anime.js script --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script>
    anime({
        targets: '.sauce-container',
        translateX: 500
    })
</script>