<link rel="stylesheet" href="/css/sides.css">
<link rel="stylesheet" href="/css/side.css">
<div id="single-side-container">
    <div class="single-side-wrapper">
        <h2 class="side-item-title">{{side.title}}</h2>
    </div>

    <a href="/menu/sides/{{side.cat_id}}" id="single-side-back">Back</a>
</div>

<script src=" https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script>
    anime({
        targets: ['.side-item-title'],
        translateY: 300
    })
</script>