{{!-- This template displays an Individual Side Category --}}
<div class="container-fluid" id="side-container">
    <h2 class="display-4" id="side-title">{{sideCategory.title}}</h2>
    <div id="side-items-container">
        {{#each sideCategory.sides as |side|}}
        <div class="side-item">
            <h3 class="side-item-title"> <a href="/menu/side/{{side.id}}">{{side.title}}</a></h3>
        </div>
        {{/each}}
    </div>
    <a href="/menu/sides" id="sides-backlink">Back to Sides</a>
</div>