<link rel="stylesheet" href="/css/updateCategoryList.css">
<div id="update-category-container" class="container-fluid mx-auto">
    <form id="update-sideCategory-form">
        <label for="udpateCategTitle">Select which Category to Rename</label>
        <input type="text">
    </form>
</div>