<link rel="stylesheet" href="/css/updateSideList.css">
<h2 id="update-side-title">Which Side Would You Like to Update?</h2>
<div id="update-side-list-container" class="container-fluid mx-auto">
    {{#each side as |s|}}
    <div class="side-title-container">
        <a href="/user/updateSide/{{s.id}}" class="side-update-link">{{s.title}}</a>
    </div>
    {{/each}}

    <br>
    <br>
    {{> userBack}}
</div>