<link rel="stylesheet" href="/css/updateCategoryList.css">
<div id="update-category-list-container" class="container-fluid mx-auto">
    <h2 id="categ-update-title">Which Category Would You Like to Rename?</h2>
    <div class="dropdown show pt-5">
        <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select A Sauce to Update
        </a>
        <div class="dropdown-menu">
            {{#each sidesCategories as |sideCategory|}}
            <div class="categ-title-container mx-auto">
                <a href="/user/updateCategory/{{sideCategory.id}}" class="categ-update-link">{{sideCategory.title}}</a>
            </div>
            {{/each}}
        </div>
    </div>


    <br>
    <br>
    {{> userBack}}
</div>