<link rel="stylesheet" href="/css/user-homepage.css">
<div class="container-fluid mx-auto" id="user-homepage-container">
    <h1 id="user-homepage-title">Welcome!</h1>
    <div class="mx-auto" id="logout-area">
        <a href="/admin/logout">Logout</a>
    </div>
    <div class="container-fluid mx-auto" id="user-links-wrapper">
        <div class="user-link-container">
            <h3 class="user-select-heading">Sides Categories</h3>
            <div class="dropdown mx-auto pt-3">
                <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="home-dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select an option
                </button>
                <div class="dropdown-menu home-dropdown-menu">
                    <div class="home-dropdown-container"><a href="/user/createCategory"
                            class="user-select-list-link dropdown-item">Create Sides Category</a></div>
                    <div class="home-dropdown-container"><a href="/user/updateCategoryList"
                            class="user-select-list-link dropdown-item">Update a Sides Category</a></div>
                    <div class="home-dropdown-container">
                        <a href="/user/deleteCategoryList" class="user-select-list-link dropdown-item">Delete a Sides
                            Category</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-link-container">
            <h3 class="user-select-heading">Sauces</h3>
            <div class="dropdown mx-auto pt-3">
                <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="home-dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select an option
                </button>
                <div class="dropdown-menu home-dropdown-menu">
                    <div class="home-dropdown-container"><a href="/user/createSauce"
                            class="user-select-list-link dropdown-item">Create Sauce</a></div>
                    <div class="home-dropdown-container"><a href="/user/updateSauceList"
                            class="user-select-list-link dropdown-item">Update Sauce</a></div>
                    <div class="home-dropdown-container">
                        <a href="/user/deleteSauceList" class="user-select-list-link dropdown-item">Delete a Sauce
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-link-container">
            <h3 class="user-select-heading">Sides</h3>
            <div class="dropdown mx-auto pt-3">
                <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="home-dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select an option
                </button>
                <div class="dropdown-menu home-dropdown-menu">
                    <div class="home-dropdown-container"><a href="/user/createSide"
                            class="user-select-list-link dropdown-item">Create a Side</a></div>
                    <div class="home-dropdown-container"><a href="/user/updateSideList"
                            class="user-select-list-link dropdown-item">Update a Side</a></div>
                    <div class="home-dropdown-container">
                        <a href="/user/deleteSideList" class="user-select-list-link dropdown-item">Delete a Side
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>