<link rel="stylesheet" href="/css/user-homepage.css">
<div class="container-fluid mx-auto" id="user-homepage-container">
    <h1 id="user-homepage-title">Welcome!</h1>
    <h2 id="user-homepage-select-text">Please Select an Option:</h2>
    <div class="container-fluid mx-auto" id="user-links-wrapper">
        <div class="user-link-container">
            <h3 class="user-select-heading">Sides Categories</h3>
            <ul class="user-select-list">
                <li class="user-select-list-item">
                    <a href="/user/createCategory" class="user-select-list-link">Create Sides Category</a>
                </li>
                <li class="user-select-list-item">
                    <a href="/user/updateCategoryList" class="user-select-list-link">Update a Sides Category</a>
                </li>
                <li class="user-select-list-item">
                    <a href="/user/deleteCategoryList" class="user-select-list-link">Delete a Sides Category</a>
                </li>
            </ul>
        </div>
        <div class="user-link-container">
            <h3 class="user-select-heading">Sauces</h3>
            <ul class="user-select-list">
                <li class="user-select-list-item">
                    <a href="/user/createSauce" class="user-select-list-link">Create Sauce</a>
                </li>
                <li class="user-select-list-item">
                    <a href="/user/updateSauceList" class="user-select-list-link">Update a Sauce</a>
                </li>
                <li class="user-select-list-item">
                    <a href="/user/deleteSauceList" class="user-select-list-link">Delete a Sauce</a>
                </li>
            </ul>
        </div>
        <div class="user-link-container">
            <h3 class="user-select-heading">Sides</h3>
            <ul class="user-select-list">
                <li class="user-select-list-item">
                    <a href="/user/createSide" class="user-select-list-link">Create Side</a>
                </li>
                <li class="user-select-list-item">
                    <a href="/user/updateSideList" class="user-select-list-link">Update a Side</a>
                </li>
                <li class="user-select-list-item">
                    <a href="/user/deleteSideList" class="user-select-list-link">Delete a Side</a>
                </li>
            </ul>
        </div>
    </div>
</div>