.create-sauce-container {
    height: 100vh;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.sauce-question {
    font-weight: bold;
    font-size: 140%;
    padding-bottom: 2%;
}

#spicy_level {
    width: 35px;
    text-align: center;
}