/* Media Queiries for slightly larger phones */
@media screen and (min-width: 200px) and (max-width: 800px) {

    #about-header {
        font-size: 275%;
        padding-bottom: 2%;
    }

    #sauce-menu-title {
        font-size: 375%;
    }

    .sauce-name {
        font-size: 200%
    }

    .category-link {
        font-size: 120%;
        font-weight: bolder;
    }

    #sides-category-header {
        display: none;
    }


    /* positioning for sides */
    #sides-container {
        padding-top: 15%;
        padding-bottom: 30%;
    }


    /* Positioning for sauces */
    #sauces-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: scroll;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #hero-container-desktop {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    #hero-title {
        font-size: 400%;
    }

    #menu-image-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #sides-category-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10%;
    }

    #side-title {
        margin-bottom: 5%;
        font-size: 400%;
    }

    #side-items-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }


    #home-socials {
        padding-bottom: 3%;
    }

    #home-reviews-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 4%;
    }

    #location-map {
        height: 300px;
        width: 325px;
        border-radius: 5%;
    }

    #hero-image-container {
        background-attachment: scroll;
    }

    #first-hero-image {
        background-attachment: scroll;
    }

    #second-hero-image {
        background-attachment: scroll;
    }

}