body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    position: relative !important;
    left: 1% !important;
}

.nav-link {
    color: red !important;
    font-weight: bold;
}

.navbar .navbar-collapse {
    text-align: center;
    font-size: 120%;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-nav {
    display: flex !important;
    justify-content: space-between !important;
}