body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    position: relative !important;
    left: 1% !important;
}

.nav-link {
    color: red !important;
    font-weight: bold;
}

.navbar .navbar-collapse {
    text-align: center;
    font-size: 120%;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-nav {
    display: flex !important;
    justify-content: space-between !important;
}

.jumbotron {
    background-color: white;
}

.display-1 {
    text-align: center;
    color: red;
    font-weight: bolder;
    padding-bottom: 5%;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#hero-img {
    width: 100%;
}


@media screen and (max-width: 480px) {
    #mobile-hero-img {
        display: block;
        height: 70vh;
        width: 100vw;
        padding-right: 8%;
    }

    #hero-title {
        display: none;
    }

    #hero-img {
        display: none;
    }
}