#update-sauce-container {
    height: 100vh;
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    font-weight: bold;
    font-size: 150%;
}

#update-sauce-title,
#update-sauce-desc-label,
#spice-question {
    margin-bottom: 2%;
}